.headerBackgroundColor {
    background-color: #000324 !important;
}
.backgroundImageforWebsite {
    background-image: url("/assets/header.jpg");
    width: 100%;
}
.textColorWhite {
    color: white !important;
}
.backgroundforHeader {
    background-color: #000324;
    opacity: 0.8;
}
.backgroundForAmenities {
    color: white;
    background-image: url("/assets/bg.jpg");
    width: 100%;
}
.textHeader {
    font-size: 35px;
}
.textColorHeaderFooter {
    color: #E5FEFF;
}
.reserveARoomBackgroundImage {
    background-image: url("/assets/hamsterreserve.jpg");
    width:100%;
}
.ourRoomsBackgroundImage {
    background-image: url("/assets/bg2.jpg");
    width:100%;
}
.sectionHeight {
    height:800px;
}
.priceTextColor {
    color: #1F51A8;
}
.websiteHeaderBackground {
    background-color:#000324 !important;
    opacity: 0.8 !important;
}
.headerSectionHeight {
    height: 400px;
}
.cardImageSizing {
    height:100% !important;
}
.textSizeLarger {
    font-size: xx-large;
}
.textSizeLarge {
    font-size: x-large;
}
.textSizePackagesBody {
    font-size: large;
}
.headerTitleFontSize {
    font-size: 57px;
}
.headerBodyFontSize {
    font-size: 20px;
}
.customBorderReserve {
    border: 2px solid #E5FEFF;
}

.bg-body-tertiary {
    background-color: #000324 !important;
    color: white !important;
}
@media (max-width: 767px) {
    .fontSizeSM{
        font-size:44px;
    }
    .fontSizeSMBody{
        font-size:16px;
    }
    .headerSectionHeightSM {
        height: 200px;
    }
    .sectionHeightSM {
        height:700px;
    }
    .fontSizeFooterSM {
        font-size: 14px;
    }
}