.headerBackgroundColor {
    background-color: #000324 !important;
}
.backgroundImageforWebsite {
    background-image: url("/assets/header.jpg");
    background-repeat: no-repeat; /* makes sure that there is no repeats of the image being used */
    background-size: cover; /* ensures that a background image completely fills its container, without leaving empty space, and maintaining the image's original aspect ratio */
    width: 100%;
}
.textColorWhite {
    color: white !important;
}
.backgroundforHeader {
    background-color: #000324;
    opacity: 0.8; /* allows for that semi-transparent look */
}
.backgroundForAmenities {
    color: white;
    background-image: url("/assets/bg.jpg");
    width: 100%;
}
.textHeader {
    font-size: 35px;
}
.textColorHeaderFooter {
    color: #E5FEFF;
}
.reserveARoomBackgroundImage {
    background-image: url("/assets/hamsterreserve.jpg");
    width:100%;
}
.ourRoomsBackgroundImage {
    background-image: url("/assets/bg2.jpg");
    width:100%;
}
.sectionHeight {
    height:800px;
}
.priceTextColor {
    color: #1F51A8;
}
.websiteHeaderBackground {
    background-color:#000324 !important;
    opacity: 0.8 !important;
}
.headerSectionHeight {
    height: 400px;
}
.cardImageSizing {
    height:100% !important;
}
.textSizeLarger {
    font-size: xx-large;
}
.textSizeLarge {
    font-size: x-large;
}
.textSizePackagesBody {
    font-size: large;
}
.headerTitleFontSize {
    font-size: 57px;
}
.headerBodyFontSize {
    font-size: 20px;
}
/* .btn, .btn-primary {
    height: 60px !important;
} */
/* .noWrapText {
    white-space: nowrap;
    overflow: hidden;
} */
.buttonHeight {
    height: 60px;
}
.customBorderReserve {
    border: 2px solid #E5FEFF;
}
.fontSizeRooms {
    font-size:30px;
}
.bg-body-tertiary {
    background-color: #000324 !important;
    color: white !important;
}
.navbar-toggler1 {
    color: white !important;
    background-color: white !important;
}

/* Media Query for mobile and exclusive css classes */
@media (max-width: 767px) {
    .fontSizeSM{
        font-size:44px;
    }
    .fontSizeSMBody{
        font-size:16px;
    }
    .headerSectionHeightSM {
        height: 200px;
    }
    .sectionHeightSM {
        height:700px;
    }
    .fontSizeFooterSM {
        font-size: 14px;
    }
    .fontSizeAwards {
        font-size: 27px;
    }
    .fontSizeAmenitiesHeader{
        font-size: 65px;
    }
    .fontSizeAmenitiesBody {
        font-size: 20px;
    }
    .fontSizeAmenitiesList {
        font-size: 25px;
    }
    .fontSizePackagesTitle {
        font-size: 50px;
    }
}

/* Media query for tablet and exclusive css classes */
@media (max-width: 768px) {
    .fontSizeLarge{
        font-size: 44px;
    }
}
@media (max-width: 575.98px) {
    .fontSizeXSScreen{
        font-size: 38px;
    }
    .fontSizeXSscreen {
        font-size: 16px;
    }
    .justifySteeart {
        display: flex;
        justify-content:start !important;
    }
    .justifyCeneteer {
        display: flex;
        justify-self: center !important;
    }
}
